.select
	.option.active.placeholder(data-value='placeholder') Выберите услугу
	.option(data-value='onepage') Одностраничный сайт
	.option(data-value='corpsite') Корпоративный сайт
	.option(data-value='onlineshop') Интернет магазин
	.option(data-value='functional') Доработка функционала
	.option(data-value='layout') Доработка верстки
	.option(data-value='optimization') Оптимизация сайта