mixin menu-set(link, title)
	li.header-top__item
		a.header-top__link.js-anchor(href=link)=title


header.header#main

	.header-top
		.container
			.header-top__logo
				+icon("logo111", "logo-icon")
			nav.header-top__menu
				ul.header-top__list
					+menu-set("#main", "Главная")
					+menu-set("#about", "Обо мне")
					+menu-set("#portfolio", "Портфолио")
					+menu-set("#skill", "Навыки и услуги")
			.header-top__sandwich
				button.sandwich-btn

	section.header-main(style="background-image:url('static/images/general/bg11.jpg')")
		.container.container--header-main
			h2.title.title--name.header-main__title.header-main__title--one.revealator-zoomin.revealator-once.revealator-delay4.revealator-duration10 Alexander
			h2.title.title--name.header-main__title.header-main__title--two.revealator-zoomin.revealator-once.revealator-delay6.revealator-duration10 Alexeev
			h2.title.title--prof.header-main__title.header-main__title--three.revealator-zoomin.revealator-once.revealator-delay8.revealator-duration10 Frontend
			h2.title.title--prof.header-main__title.header-main__title--four.revealator-zoomin.revealator-once.revealator-delay10.revealator-duration10 Developer
		.header-main__btn
			+icon("nextscreen", "btn-next-screen")