::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 6px;
	height: 0;
}

// The color of the track on which the scroll slider moves
::-webkit-scrollbar-track {
	background-color: $hover-dark;
	border: none;
	box-shadow: 0px 0px 3px $dark inset;
}

// Strip color and rounding
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 2px;
	background-color: $action-color;
	box-shadow: 0px 1px 1px $white inset;
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	transition: all linear .7s;
}

::-webkit-resizer{
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

// Scroll bar base width
::-webkit-scrollbar{
	width: 10px;
}