.skill {
	margin-bottom: 60px;

	&-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&__icon {
			@include size (40px);
			fill: $accent-color;
			margin-right: 10px;
		}

		&__desc {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&__name {
			margin-bottom: 5px;
			font-family: $bold-font;
		}
	}
}

.skills {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 20px;
	width: 60%;
	& > * {
		margin: 10px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}
}

.skill-resume {
	display: flex;
	width: 40%;
}