.cont-popup {
	align-items: center;
	background-color: $bg;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 3px 10px 1px rgba(33,33,33,0.4);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 450px;
	@media screen and(max-width: $phone-wide) {
		width: 95%;
	}

	&__header {
		align-items: center;
		background-color: $accent-color;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		position: relative;
		margin-bottom: 30px;
		width: 100%;
		@media screen and(max-width: $phone-wide) {
			padding: 10px 0;
		}

		&--thank {
			@media screen and(max-width: $phone-wide) {
				padding: 10px 10px;
			}
		}
	}

	&__body {
		padding: 0 20px;
		width: 100%;
		@media screen and(max-width: $phone-wide) {
			padding: 0 10px;
		}

		&--thank {
			height: 110px;
		}
	}

	&__form {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}

	&__label {
		width: 100%;
		&--req {
			&::after {
				content: "\2732";
				color: $error;
				font-size: 0.8rem;
				margin-left: 3px;
				vertical-align: super;
			}
		}
		&--select {
			position: relative;
			margin-bottom: 15px;
		}
	}

	&__select {
		cursor: pointer;
	}

	&__option {
		&:disabled {
			color: rgba($base-text, .7);
		}
	}

	&__area {
		margin-bottom: 0;
	}

	&__required-text {
		color: rgba($base-text, .7);
		display: inline-block;
		font-size: 0.9rem;
		margin-bottom: 20px;
		&::before {
			content: "\2732";
			color: $error;
			font-size: 0.8rem;
			margin-right: 3px;
			vertical-align: super;
		}
	}

	&__footer {
		background-color: $accent-color;
		min-height: 10px;
		width: 100%;
	}
}

.input {
	background-color: $white;
	border: 1px solid $accent-color;
	border-radius: 5px;
	height: 50px;
	padding: 10px;
	margin-bottom: 15px;
	transition: all linear .3s;
	width: 100%;
	&:focus {
		border: 1px solid $action-color;
	}

	&--textarea {
		min-height: 100px;
	}
}


// plugin magnific popup
.popup-close {
	@include size (15px);
	cursor: pointer;
	fill: $white;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	transition: all linear .3s;
	@media screen and(min-width: 1023.98px) {
		&:hover {
			transform: rotate(360deg);
			fill: $action-color;
		}
	}
}

.error {
	background-color: rgba($error, .5);
	&::placeholder {
		color: rgba($white, 1);
	}
}

.hide-on-success, .show-on-success {
	width: 100%;
}

.show-on-success {
	display: none;
}

.mfp-hide {
	display: none;
}

.mfp-bg {
	opacity: 0.5;
}