.about {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 80px;
	position: relative;
	&::after {
		background-color: rgba($dark, .55);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
	@media screen and(max-width: $tablet-wide) {
		background-position: left;
	}
}

@keyframes show-social {
	0% { opacity: 0; }
	100% {opacity: 1; }
}

.block-history {
	align-items: flex-start;
	display: flex;
	flex: 0.95;
	flex-direction: column;
	position: relative;
	margin-right: 30px;
	z-index: 2;
	@media screen and(max-width: $tablet-wide) {
		flex: 0.7;
	}
	@media screen and(max-width: $tablet-large) {
		flex: 0.6;
		margin-right: 10px;
	}
	@media screen and(max-width: $tablet-large) {
		flex: 0.7;
	}
	@media screen and(max-width: $tablet) {
		flex: 1;
		order: 2;
	}

	&__toggle {
		display: none;
		@media screen and(max-width: $tablet) {
			cursor: pointer;
			color: $white;
			display: block;
			font-size: 1.2rem;
			margin: 0 auto 15px auto;
			text-decoration: underline;
		}
	}

	&__title {
		margin-bottom: 30px;
		&::before {
			background-color: $accent-color;
			content: "";
			padding-left: 5px;
			margin-right: 10px;
		}

		&--popup {
			color: $white;
			margin-bottom: 0;
			text-align: center;
			&::before {
				display: none;
			}
		}
	}

	&__text {
		color: $white;
		margin-bottom: 55px;
		@media screen and(max-width: $tablet) {
			margin-bottom: 30px;
		}
		&:not(:last-child)::after {
			background-color: $white;
			content: "";
			height: 1px;
			left: 50%;
			margin-top: 54px;
			position: absolute;
			transform: translateX(-50%);
			width: 10%;
			@media screen and(max-width: $tablet) {
				margin-top: 50px;
			}
		}

		&--dark {
			color: $base-text;
			margin-bottom: 20px;
		}
	}
}

.block-social {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin-bottom: 30px;
	& > * {
		&:not(:last-child) { margin-right: 15px; }
	}
	@media screen and(max-width: $phone-wide) {
		& > * {
			&:not(:last-child) { margin-right: 10px; }
		}
	}

	&__item {
		opacity: 0;
	}

	.social-icon {
		@include size (50px);
		cursor: pointer;
		fill: $accent-color;
		transition: all linear .3s;
		@media screen and(min-width: 1023.98px) {
			&:hover {
				fill: $white;
				transform: scale(1.05);
			}
		}
	}
}

.block-photo {
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex: 0.47;
	justify-content: flex-end;
	height: auto;
	overflow: hidden;
	z-index: 2;
	@media screen and(max-width: $tablet-large) {
		flex: 0.3;
	}
	@media screen and(max-width: $tablet) {
		order: 1;
		margin-bottom: 20px;
	}

	&__img {
		background-size: cover;
		background-position: center;
		height: 480px;
		width: auto;
		@media screen and(max-width: $tablet-large) {
			height: 340px;
		}
	}
}

.hide {
	@media screen and(max-width: $tablet) {
		display: none;
	}
}

.social-show {
	@for $i from 0 to 10 {
		&:nth-child(#{$i}) {
			animation: show-social 1s linear .2s*$i 1 normal forwards;
			// transition: opacity .5s .1s*$i;
		}
	}
}