.footer {
	background-color: $hover-dark;
	padding: 7px 0;
	min-height: 30px;

	&__text {
		color: $white;
		font-size: 0.9rem;
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
	}
}