mixin menu-set(link, title, popup)
	li.top-menu__item
		if(popup)
			a.top-menu__link.js-popup(href=link)=title
		else
			a.top-menu__link.js-anchor(href=link)=title

nav.top-menu
	ul.top-menu__list
		+menu-set("#main", "Главная")
		+menu-set("#about", "Обо мне")
		+menu-set("#portfolio", "Портфолио")
		+menu-set("#skill", "Навыки и услуги")
		+menu-set("#cont", "Заказать", true)