extends layouts/default
block variables
	- var title = "Alexander Alexeev"
	- var pageClass = "index-page"

block content
	.main-wrapper
		include ../blocks/modules/header/header
		.content
			include ../blocks/modules/about/about
			include ../blocks/modules/portfolio/portfolio
			include ../blocks/modules/skills/skills
			//- include ../blocks/modules/name??????/name??????
		include ../blocks/modules/popup-contact/popup-contact
		include ../blocks/modules/footer/footer