extends template/main

block variables
	- var title = 'Portfolio'
	- var pageClass = 'index-page'

block content
	//- include pages/index/name_file
	include pages/index/about
	include pages/index/portfolio
	include pages/index/skills

	//- block script