extends ../views/layouts/default
block variables
	- var title = "New Page"
	- var pageClass = "name-page"

block content
	//- .main-wrapper
	//- 	include ../blocks/modules/topMenu/topMenu
	//- 	include ../blocks/modules/header/header
	//- 	.content
	//- 		//- include ../blocks/modules/name??????/name??????
	//- 	include ../blocks/modules/footer/footer