section.about#about
	.container.container--about
		section.block-history
			h3.title.block-history__title Some words about me
			p.text.block-history__text Greetings! My name is Alexander Alexeev. Every new day of web development is an opportunity to learn something new, to understand more deeply what is already known and to simply touch the beautiful, because, as many people think: code is poetry.
			p.text.block-history__text Relatively recently, I started working on web development, but this fact is perfectly offset by a great desire to learn new things, which I do, constantly improve and use more complex techniques and tools in each next project. There are no boundaries for perfection.
			p.text.block-history__text More complete information about me can be viewed on my accounts at the links below.
			.block-social
				a(href="https://github.com/Mandred19" target="blank" title="View my GitHub")
					+icon("github", "social-icon")
				a(href="https://vk.com/alexander_alexeev1991" target="blank" title="View my VKontakte")
					+icon("vk", "social-icon")
				a(href="https://www.linkedin.com/in/alexander-alexeev1991/" target="blank" title="View my LinkedIn")
					+icon("linkedin", "social-icon")
				a(href="mailto:mandred1991@gmail.com" target="blank" title="Write me on e-mail")
					+icon("email", "social-icon")
				a.resume-link(href="https://drive.google.com/open?id=1ELwAfv_B_-E07TQgtwtNMz-KBuk_TLrr" target="blank" title="Read my resume")
					+icon("pdf", "social-icon")

		section.block-photo
			img.block-photo__img(src="static/images/content/.jpg", alt="my-photo")