main.about#about(style="background-image:url('static/images/general/bg22.jpg')")
	.container.container--about
		.block-history
			h3.title--about.block-history__title Несколько слов обо мне
			p.text.block-history__text Приветствую! Меня зовут Александр Алексеев. Я ответственный, целеустремленный человек, люблю порядок, как на рабочем месте, так и в проекте. Для меня каждый новый день  в веб-разработке - это возможность узнать что-то новое, глубже понять уже известное, и просто прикоснуться к прекрасному, потому что, как считают многие, код - это поэзия.
			p.text.block-history__text Относительно недавно я начал заниматься веб-разработкой, но этот факт полностью компенсирует огромное желание изучать новое, постоянно совершенствоваться и использовать более сложные методики и инструменты в каждом следующем проекте. Совершенству нет предела.
			p.text.block-history__text Сильные стороны моих предыдущих должностей, которые несомненно пригодятся мне, как разработчику: умение работать в команде, взаимодействие с начальством, коллегами и клиентами, следование и достижение поставленной цели, трезвый расчет сроков и трудозатрат.
			p.text.block-history__text Более полную информацию обо мне можно посмотреть на моих аккаунтах по ссылкам ниже.
			.block-social
				a(href="https://github.com/Mandred19" target="blank" title="Посмотреть мой GitHub")
					+icon("github", "social-icon")
				a(href="https://vk.com/alexander_alexeev1991" target="blank" title="Посмотреть мой VKontakte")
					+icon("vk", "social-icon")
				a(href="https://www.linkedin.com/in/alexander-alexeev1991/" target="blank" title="Посмотреть мой LinkedIn")
					+icon("linkedin", "social-icon")
				a(href="mailto:mandred1991@gmail.com" target="blank" title="Написать мне на e-mail")
					+icon("email", "social-icon")
				a.resume-link(href="https://drive.google.com/open?id=1ELwAfv_B_-E07TQgtwtNMz-KBuk_TLrr" target="blank" title="Ознакомиться с резюме")
					+icon("pdf", "social-icon")

		.block-photo
			img.block-photo__img(src="static/images/content/.jpg", alt="my-photo")