swction.portfolio#portfolio
	.container.container--portfolio
		h3.title.block-history__title Portfolio
		.slider
			.slider-block
				img.slider-block__image(src="static/images/content/rnbc.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Russian Business Negotiation Center
				a(href="https://mandred19.github.io/RBNC/" target="blank").btn.slider-block__btn Show
			.slider-block
				img.slider-block__image(src="static/images/content/yoga.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Yoga tours to India
				a(href="https://mandred19.github.io/Yoga-tours/" target="blank").btn.slider-block__btn Show
			.slider-block
				img.slider-block__image(src="static/images/content/pizza.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Pizza at home
				a(href="https://mandred19.github.io/Pizza-at-home/" target="blank").btn.slider-block__btn Show
			.slider-block
				img.slider-block__image(src="static/images/content/land.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Landing
				a(href="https://mandred19.github.io/Landing1/" target="blank").btn.slider-block__btn Show
			.slider-block
				img.slider-block__image(src="static/images/content/budget.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Money keeper
				a(href="https://mandred19.github.io/Money-keeper/" target="blank").btn.slider-block__btn Show
			.slider-block
				img.slider-block__image(src="static/images/content/merc.jpg", alt="preview")
				.slider-block__overlay
					h4.slider-block__title Mercury
				a(href="https://mandred19.github.io/Mercury/" target="blank").btn.slider-block__btn Show

		.slider-arrow
			+icon("next", "slider-arrow__prev")
			+icon("prev", "slider-arrow__next")