mixin skill-block-set(nameIcon, nameTeh, maxVal)
	.skill-block
		+icon(nameIcon, "skill-block__icon")
		.skill-block__desc
			p.skill-block__name=nameTeh
			progress.skill-block__progress(value="0" max=maxVal)
			.skill-block__progress-bg
				.skill-block__progress-value


.skill#skill
	.container.container--skill
		section.skills
			h3.title.block-history__title Мои навыки
			+skill-block-set("html5", "HTML5", "85")
			+skill-block-set("css3", "CSS3", "80")
			+skill-block-set("js", "JavaScript", "50")
			+skill-block-set("jq", "JQuery", "50")
			+skill-block-set("sass", "SASS (SCSS), PUG", "75")
			+skill-block-set("gulp", "Gulp", "50")
			+skill-block-set("bem", "BEM", "70")
			+skill-block-set("adapt", "Адаптивность + кроссбраузерность", "75")
			+skill-block-set("git", "Git", "40")
			+skill-block-set("wordpr", "PHP + Wordpress", "20")
			+skill-block-set("ps", "Photoshop + Figma + Zeplin + Avocode", "70")

		section.skill-service
			h3.title.block-history__title Мои услуги
			p.text.block-history__text.block-history__text--dark Заказав у меня разработку сайта или доработку уже существующего, вы получите качественную верстку и работающий функционал. Это обеспечивается применением только актуальных методик и технологий мира веб-разработки и тестированием готового продукта перед передачей его заказчику.
			.skill-service__block
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay2.revealator-duration10
					h4.title.skill-service__title Разработка одностраничных сайтов
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay4.revealator-duration10
					h4.title.skill-service__title Разработка корпоративных сайтов
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay6.revealator-duration10
					h4.title.skill-service__title Разработка интернет магазинов
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay8.revealator-duration10
					h4.title.skill-service__title Внесение правок в функционал
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay10.revealator-duration10
					h4.title.skill-service__title Внесение правок в верстку
				.skill-service__descr.revealator-zoomin.revealator-once.revealator-delay12.revealator-duration10
					h4.title.skill-service__title Мероприятия по оптимизации