section.skill#skill
	.container.container--skill
		section.skills
			h3.title.block-history__title My skills
			.skill-block
				p.skill-block__name HTML5 + PUG
				progress.skill-block__progress(value="0" max="85")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name CSS3 + SCSS
				progress.skill-block__progress(value="0" max="80")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name JavaScript + JQuery
				progress.skill-block__progress(value="0" max="50")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name Adaptability + Cross-browser compatibility
				progress.skill-block__progress(value="0" max="70")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name Git
				progress.skill-block__progress(value="0" max="40")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name PHP + Wordpress
				progress.skill-block__progress(value="0" max="20")
				.skill-block__progress-bg
					.skill-block__progress-value
			.skill-block
				p.skill-block__name Photoshop + Figma + Zeplin + Avocode
				progress.skill-block__progress(value="0" max="60")
				.skill-block__progress-bg
					.skill-block__progress-value

		section.skill-resume