// Colors
$dark						: #000000;
$white					: #FFFFFF;

$accent-color		: #458898;
$action-color		: #47599A;

$bg							: #FFF8F1;
$bg-gray				: #F6F6F6;
$hover-dark			: #212121;

$base-text			: #12112C;
$light-text			: #E3F1F4;
$link						: #FFFFFF;

$button					: #94774A;
$error					: #FF4200;

// Sizes
$base-font-size		: 16px;

// Weight
$base-font-weight	: 400;

$breakpoints: (
  "phone"       	: 400px,
  "phone-wide"  	: 480px,
  "phablet"     	: 560px,
  "tablet-small"	: 640px,
  "tablet"      	: 768px,
  "tablet-wide" 	: 1024px,
  "desktop"     	: 1248px,
  "desktop-wide"	: 1440px
);

// Breakpoints
$phone-small			: 320px; // x 560px
$phone-middle			: 360px; // x 640px
$phone						: 400px;
$phone-wide				: 480px;
$phablet					: 560px;
$tablet-small			: 640px;
$tablet						: 768px; // x 1024px
$tablet-large			: 860px;
$desktop-small		: 992px;
$tablet-wide			: 1024px; // 768px
$desktop					: 1248px;
$desktop-wide			: 1440px;
$desktop-large		: 1600px;

// Content-size
$content-size			: 1170px;

// Fonts
$main-font		: "Ubuntu-Regular", Arial, sans-serif;
$bold-font		: "Ubuntu-Bold", "Arial Bold", sans-serif;
$remote-font	: "Voces", Arial, sans-serif;

// @media screen and(max-width: $desktop) {
// 	padding: 0 10px;
// }