@for $i from 0 through 100 {
  .skill-block progress[value="#{$i}"] {
    & ~ .skill-block__progress-bg .skill-block__progress-value { width: $i * 1% }
  }
}
@keyframes bar_value {
  0% { background-position: 0 0; }
  100% { background-position: -40px 0; }
}


.skill-block__progress-bg {
	background: rgba($accent-color, .5);
	border-radius: 5px;
	height: 20px;
	overflow: hidden;
	position: relative;
	width: 50%;
}

.skill-block__progress-value {
	background: $action-color;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: all 1s linear;
	width: 0;
	&::after {
		animation: bar_value 0.3s linear infinite;
		background-size: 40px 40px;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

progress {
	height: 0;
	left: -777px;
	overflow: hidden;
	position: absolute;
	width: 0;
}