@import "scroll-bar-webkit/scroll-bar-webkit";
@import "progress-bar";

.slick-dots {
	align-items: center;
	bottom: -2rem;
	display: flex;
	justify-content: center;
	height: fit-content;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	& > * {
		&:not(:last-child) { margin-right: 10px; }
	}
	button {
		border-radius: 5px;
		border: 0;
		background-color: rgba($base-text, .4);
		cursor: pointer;
		display: block;
		height: 10px;
		padding: 0;
		text-indent: -9999px;
		transition: all linear .3s;
		width: 30px;
	}
	.slick-active {
		button {
			background-color: $action-color;
		}
	}
}

.slider-arrow__prev, .slider-arrow__next {
	@include size (40px);
	cursor: pointer;
	fill: rgba($base-text, .3);
	position: absolute;
	transition: all linear .3s;
	top: 9.5rem;
	&:hover {
		fill: rgba($base-text, 1);
	}
	@media screen and(max-width: $desktop) {
		display: none;
	}
}

.slider-arrow__prev {
	left: -2rem;
	@media screen and(max-width: $desktop) {
		left: 1rem;
	}
}

.slider-arrow__next {
	right: -2rem;
	@media screen and(max-width: $desktop) {
		right: 1rem;
	}
}