@keyframes header_main_border {
	0% {
		border-width: 10px;
		border-style: solid;
		border-color: rgba($white, 0);
	}
	100% {
		border-width: 10px;
		border-style: solid;
		border-color: rgba($white, 1);
	}
}

@keyframes header_menu {
	0% {
		opacity: 0;
		width: 0%;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes text_menu {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes text_menu_mob {
	0% {
		font-size: 0rem;
		opacity: 0;
		margin-bottom: 0px;
	}
	100% {
		font-size: 1.5rem;
		opacity: 1;
		margin-bottom: 20px;
	}
}

@keyframes header_menu_mob {
	0% {
		height: 0vh;
		left: 95%;
		opacity: 0;
		position: fixed;
		top: 5%;
		transform: translate(-95%, -5%);
		width: 0vw;
		z-index: 5;
	}
	100% {
		height: 100vh;
		left: 95%;
		position: fixed;
		opacity: 1;
		top: 5%;
		transform: translate(-95%, -5%);
		width: 100vw;
		z-index: 5;
	}
}

.menu-open {
	animation: header_menu 1s linear 0s 1 normal forwards;
	@media screen and(max-width: $tablet) {
		animation: header_menu_mob .7s linear 0s 1 normal forwards;
	}
}

.li-open {
	display: block !important;
	animation: text_menu 1s linear 0s 1 normal forwards;
	@media screen and(max-width: $tablet) {
		animation: text_menu_mob .1s linear 0s 1 normal forwards;
	}
}