mixin skills-item-set(nameIcon, nameTeh, maxVal)
	li.skills-item
		+icon(nameIcon, "skills-item__icon")
		.skills-item__desc
			p.skills-item__name=nameTeh
			progress.skills-item__progress(value="0" max=maxVal)
			.skills-item__progress-bg
				.skills-item__progress-value

section.skills
	h3.title.block-history__title Мои навыки
	ul.skills-list
		+skills-item-set("html5", "HTML5", "85")
		+skills-item-set("css3", "CSS3", "85")
		+skills-item-set("js", "JavaScript", "70")
		+skills-item-set("vue", "Vue.js", "70")
		+skills-item-set("jq", "JQuery", "50")
		+skills-item-set("sass", "SASS, PUG", "75")
		+skills-item-set("gulp", "Gulp, Webpack", "50")
		+skills-item-set("bem", "BEM", "70")
		+skills-item-set("adapt", "Адаптивность, кроссбраузерность", "75")
		+skills-item-set("git", "Git", "70")
		+skills-item-set("ps", "Photoshop, Figma, Avocode", "70")
