@import "sandwich-btn";

.btn {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: all linear .3s;
}

.btn-next-screen {
	cursor: pointer;
	@include size (45px);
	fill: $white;
	transition: all linear .3s;
	@media screen and(min-width: 1023.98px) {
		&:hover {
			fill: $action-color;
		}
	}
}

.slider-block__btn {
	background-color: $action-color;
	border-radius: 0 0 5px 5px;
	color: $white;
	font-size: 1.2rem;
	font-family: $medium-font;
	height: 50px;
	position: relative;
	padding: 0;
	width: 100%;
}

.btn-scroll-top {
	@include size (40px);
	bottom: 1.85rem;
	cursor: pointer;
	fill: rgba($accent-color, .5);
	position: fixed;
	right: 1rem;
	transition: all linear .3s;
	z-index: 10;
	@media screen and(min-width: 1023.98px) {
		&:hover {
			fill: $action-color;
		}
	}
}