.header {

	&-top {
		align-items: center;
		height: 60px;
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0.5rem;
		width: 100%;
		z-index: 999;

		&__logo {
			margin-right: auto;

			.logo-icon {
				@include size (60px);
				fill: $accent-color;
			}
		}

		&__menu {
			align-items: center;
			background-color: rgba($hover-dark, .8);
			box-shadow: 0px 3px 10px 1px rgba(33,33,33,0.4);
			border-radius: 5px 0 0 5px;
			display: flex;
			height: 60px;
			position: relative;
			max-width: 800px;
			transition: all linear .4s;
			width: 0%;
			@media screen and(max-width: $tablet-wide) {
				max-width: 700px;
			}
			@media screen and(max-width: $tablet-large) {
				max-width: 600px;
			}
			@media screen and(max-width: $tablet) {
				max-width: 100%;
			}
		}

		&__list {
			align-items: center;
			display: flex;
			justify-content: space-around;
			width: inherit;
			@media screen and(max-width: $tablet) {
				flex-direction: column;
			}
		}

		&__item {
			display: none;
			text-transform: uppercase;
		}

		&__link {
			transition: all linear .3s;
			white-space: nowrap;
			@media screen and(min-width: 1023.98px) {
				&:hover {
					color: $action-color;
				}
			}
		}

		&__sandwich {
			background-color: rgba($hover-dark, .8);
			box-shadow: 0px 3px 10px 1px rgba(33,33,33,0.4);
			border-radius: 5px;
			cursor: pointer;
			height: 60px;
			position: relative;
			width: 60px;
		}
	}

	&-main {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		height: 100vh;
		position: relative;
		width: 100%;
		&::after {
			background-color: rgba($dark, .4);
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&__title {
			position: relative;
			margin-bottom: 20px;
			z-index: 2;

			&--one {
				margin-left: 135px;
				margin-top: auto;
			}
			&--two {
				margin-left: 375px;
			}
			&--three {
				margin-left: 135px;
			}
			&--four {
				margin-left: 375px;
				margin-bottom: auto;
			}
		}

		&__btn {
			bottom: 0.5rem;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			z-index: 2;
		}
	}
}