.s-preloader {
	align-items: center;
	background: radial-gradient($base-text, $hover-dark);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	overflow: hidden;
	top: 0;
	z-index: 50;
}

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  position: fixed;
  width: 100%;
  & .caption {
    margin: 0 auto;
  }
  .cube-loader {
		height: 73px;
    position: relative;
    margin: 0 auto;
    margin-top: 49px;
    transform: rotateZ(45deg);
    width: 73px;

    & .cube {
      float: left;
      height: 50%;
      position: relative;
      transform: rotateZ(45deg);
      transform: scale(1.1);
      width: 50%;
    }
    & .cube:before {
      animation: cube_loader 2.76s infinite linear both;
      background-color: $accent-color;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 100%;
    }
    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }
    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }
    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }
    & .loader-2:before {
      animation-delay: 0.35s;
    }
    & .loader-3:before {
      animation-delay: 0.69s;
    }
    & .loader-4:before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube_loader {
  0%, 10% {
    opacity: 0;
    transform: perspective(136px) rotateX(-180deg);
  }
  25%, 75% {
    opacity: 1;
    transform: perspective(136px) rotateX(0deg);
  }
  90%, 100% {
    opacity: 0;
    transform: perspective(136px) rotateY(180deg);
  }
}