.skill#skill
	.container.container--skill
		include ../progress-bar/progress-bar

		section.skill-service
			h3.title.block-history__title Мои услуги
			p.text.block-history__text.block-history__text--dark Заказав у меня разработку сайта или доработку уже существующего, вы получите качественную верстку и работающий функционал. Это обеспечивается применением только актуальных методик и технологий мира веб-разработки и тестированием готового продукта перед передачей его заказчику.
			ul.skill-service__block
				li.skill-service__descr
					h4.title.skill-service__title Разработка лендингов
				li.skill-service__descr
					h4.title.skill-service__title Разработка web-приложений
				li.skill-service__descr
					h4.title.skill-service__title Разработка интернет магазинов
				li.skill-service__descr
					h4.title.skill-service__title Разработка корпоративных сайтов
				li.skill-service__descr
					h4.title.skill-service__title Доработка и правки функционала
				li.skill-service__descr
					h4.title.skill-service__title Доработка и правки верстки
