.skill {
	padding-top: 80px;
	margin-bottom: 60px;
}

.skill-service {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 50%;
	@media screen and(max-width: $tablet) {
		width: 100%;
	}

	&__block {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	&__descr {
		border-radius: 5px;
		background-color: $white;
		box-shadow: 0px 3px 10px 1px rgba(33,33,33,0.3);
		display: flex;
		align-items: center;
		flex: 0 1 47%;
		height: 110px;
		justify-content: center;
		opacity: 0;
		padding: 0 10px 0 10px;
		margin-bottom: 30px;
		transition: all linear .3s;
		&:nth-child(odd) {
			margin-right: 30px;
			@media screen and(max-width: $tablet-wide) {
				margin-right: 20px;
			}
			@media screen and(max-width: $phone-wide) {
				margin-right: 0;
			}
		}
		@media screen and(max-width: $tablet-wide) {
			margin-bottom: 20px;
		}
		@media screen and(max-width: $phone-wide) {
			flex: 1 1 100%;
			width: 100%;
		}
	}

	&__title {
		font-size: 1.3rem;
		text-align: center;
	}
}

@keyframes show-service {
	0% { opacity: 0; transform: scale(0)}
	25%{ opacity: .25; transform: scale(.25)}
	50%{ opacity: .5; transform: scale(.5)}
	75%{ opacity: .75; transform: scale(.75)}
	100%{ opacity: 1; transform: scale(1)}
}
.show-service {
	animation: show-service 1.5s linear 1s 1 normal forwards;
}