.skill#skill
	.container.container--skill
		include ../progress-bar/progress-bar

		section.skill-service
			h3.title.block-history__title Мои услуги
			p.text.block-history__text.block-history__text--dark Заказав у меня разработку сайта или доработку уже существующего, вы получите качественную верстку и работающий функционал. Это обеспечивается применением только актуальных методик и технологий мира веб-разработки и тестированием готового продукта перед передачей его заказчику.
			.skill-service__block
				.skill-service__descr
					h4.title.skill-service__title Разработка одностраничных сайтов
				.skill-service__descr
					h4.title.skill-service__title Разработка корпоративных сайтов
				.skill-service__descr
					h4.title.skill-service__title Разработка интернет магазинов
				.skill-service__descr
					h4.title.skill-service__title Внесение правок в функционал
				.skill-service__descr
					h4.title.skill-service__title Внесение правок в верстку
				.skill-service__descr
					h4.title.skill-service__title Мероприятия по оптимизации