html {
	font-size: $base-font-size;
	font-family: $main-font;
	font-weight: $base-font-weight;
	height: 100%;
	// @media screen and (max-width: $tablet) { font-size: 15px; }
	// @media screen and (max-width: $phone-wide) { font-size: 14px; }
}

body {
	background-color: $bg;
	color: $base-text;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

section { position: relative; }

a {
	color: $link;
	transition: all linear .3s;
	@media screen and(min-width: 1023.98px) { &:hover { color: $action-color; } }
}

.main-wrapper { display: flex; flex-direction: column; height: 100%; }

.content { flex: 1 0 auto; }

.container {
	align-items: center;
	display: flex;
  margin: 0 auto;
	max-width: $content-size;
	width: 100%;
	@media screen and(max-width: $desktop) { padding: 0 10px; }

	&--header-main {
		animation: header_main_border 2s linear 0s 1 normal forwards;
		align-items: flex-start;
		border-radius: 5px;
		flex-direction: column;
		left: 50%;
		position: absolute;
		padding: 30px 110px;
		max-height: 490px;
		max-width: 740px;
		transform: translate(-50%, -50%);
    top: 50%;
		z-index: 2;
		@media screen and(max-width: $tablet-small) {
			padding: 30px 60px;
		}
		@media screen and(max-height: $phone-rotate) {
			padding: 20px 80px;
			max-height: 250px;
			max-width: 410px;
		}
		@media screen and(max-height: $phone-rotate-small) {
			padding: 10px 70px;
			max-width: 400px;
		}
		@media screen and(max-width: $phone-wide) {
			padding: 10px 70px;
		}
		@media screen and(max-width: $phone) {
			padding: 20px 20px;
		}
		@media screen and(max-width: $phone-small) {
			padding: 20px 10px;
		}
	}

	&--about {
		align-items: flex-start;
		justify-content: space-between;
		@media screen and(max-width: $tablet) {
			flex-direction: column;
		}
	}

	&--portfolio {
		align-items: flex-start;
		flex-direction: column;
		position: relative;
	}

	&--skill {
		align-items: flex-start;
		justify-content: space-between;
		@media screen and(max-width: $tablet) {
			flex-direction: column;
			& > * {
				margin: 30px 0;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
	}

	&--footer {
		justify-content: center;
	}
}

.title {
	font-size: 1.7rem;
	font-family: $bold-font;

	&--name {
		color: $white;
		font-size: 5rem;
		@media screen and(max-width: $phablet) {
			font-size: 4rem
		}
		@media screen and(max-width: $phone) {
			font-size: 3.5rem;
		}
		@media screen and(max-height: $phone-wide) {
			font-size: 2.3rem;
		}
	}

	&--prof {
		color: $white;
		font-size: 4rem;
		@media screen and(max-width: $phablet) {
			font-size: 3rem
		}
		@media screen and(max-width: $phone) {
			font-size: 2.5rem;
		}
		@media screen and(max-height: $phone-wide) {
			font-size: 1.8rem;
		}
	}

	&--about {
		color: $white;
	}
}

.text {
	line-height: 1.7;
	letter-spacing: 0.1px;
}

.popup-no-scroll {
	overflow: hidden !important;
}

.popup-no-scroll-m {
	overflow: hidden !important;
}

noscript {
	color: $base-text;
	font-size: 2rem;
	padding: 30px;
	text-align: center;
}